@CHARSET "UTF-8";

/* 모바일 */
@media screen and (max-width:736px){
	
	article {
		min-height : 500px;
		width : 100%;
		margin : 100px auto 0 auto;
	}
	
	.content {
		width: 100%;
		margin : 0 auto;
	}
	
	
}

/* 웹 브라우저 */
@media screen and (min-width:737px){

	
	article {
		min-height : 500px;
		width : 960px;
		margin : 50px auto;
	}
	
	.joinContent {
		width: 460px;
		margin : 0 auto;
	}

}
	

	
	
	
	
	
	
	
	
